#message {
  color: purple;
}

body {
  background-image: url('../images/vision.jpg');
  background-size: cover;
  color: ;
}

.container {
  display: block;
  width:  45%;
  float: left;
  
}

.card {
  margin-top: 50px;
  margin-left: 50px;
  
}

.card-body .list-group-item {
  background-color: hsla(346, 75%, 85%, 0.1);
}

